body {
    background-color: silver;
}

h1, h2, h3, h4, h5, h6 {
    color: #000099;
}

p {
    font-family: sans-serif;
}

blockquote{
    font-style: italic;
}

.xquote {
    font-style: normal;
}

.negative {
    background-color: #000099;
    color: silver
}

#id1{
    background-color: #000099;
    color: silver
}